@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Posts" asp-action="Index">My Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Posts" asp-action="Create">Create</a>
        </li>
    }
</ul>