@model PostMe.Models.Post
@{
    ViewData["Title"] = "Delete Post";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<div class="container col-md-4">
    <form method="post" asp-action="DeletePost">
        <input asp-for="Id" hidden/>
        <div class="row form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" maxlength="100" class="form-control" disabled/>
        </div>
        <div class="row form-group">
            <label asp-for="Content"></label>
            <textarea asp-for="Content" id="content" class="form-control text-xl" rows="10" disabled></textarea>
        </div>
        <div class="row btn-group">
            <input type="submit" class="btn btn-danger m-md-2" value="Delete" />
            <a class="btn btn-info m-md-2" asp-action="Index">Back</a>
        </div>
    </form>
</div>